{
  "endOfLine": "auto",
  "singleQuote": true,
  "semi": true,
  "trailingComma": "es5",
  "tabWidth": 4,
  "importOrder": [
    "^(.*).css",
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/constants/(.*)$",
    "^@/context/(.*)$",
    "^@/lib/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
